spring:
  main:
    lazy-initialization: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 2
  jooq:
    sql-dialect: POSTGRES
  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: public
  profiles:
    active: dev

logging:
  level:
    root: INFO
    org.flywaydb: INFO

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false